<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GO A2</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
<!--  Main container -->
    <div class="container">

      <div class="jumbotron">
        <h1 class="display-4">IS THERE A DEVIL IN YOUR MILK?</h1>
        <p class="lead">This website is dedicated to raising awareness about the beta-casomorphin-7 (BCM-7) opioid peptide in A1 dairy</p>
        <hr class="my-4">
        <!-- <a class="btn btn-dark btn-lg" href="#" role="button">Learn more</a> -->
      </div>

    </div>
<!-- Introduction section -->
    <div class="container">
      <h2>Introduction to Bovine β-Casomorphin-7</h2>
      <p>Generally, milk from cows contains two types of beta-casein: A1 type or A2 type. Originally, all cows produced the A2 type of beta-casein. But somewhere along the line of bovine ancestry a mutation occurred and some cows began producing the A1 beta-casein variant.</p>
      <p>From this beta-casein variant, an opioid peptide known as beta-casomorphin-7 (or simply BCM-7) is yielded. While research is still ongoing regarding BCM-7 from cows with A1 genetics, there is evidence mounting that suggests this opioid peptide might be problematic to human heath.</p>
      <!-- break line -->
      <hr class="my-4">
      <p>The purpose of this website is to raise awareness of the fact that not all cows' milk is the same, and that the difference between A1 and A2 milk may be important to human health.</p>
      <!-- break line -->
      <hr class="my-4">
    </div>

    <!-- learn more button -->
    <div class="container">
      <a class="btn btn-primary btn-lg btn-block" href="http://127.0.0.1:5000/learnmore" role="button">Learn more</a
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </body>
</html>
