<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>A1 Milk</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
<!--  Jumbotron container -->
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">ABOUT A1 MILK</h1>
        <!-- break line -->
        <hr class="my-4">
        <h2 class="lead">This website is dedicated to raising awareness about the beta-casomorphin-7 (BCM-7) opioid peptide in A1 dairy</h2>
      </div>
    </div>
    <!-- introduction to page -->
    <div class="container">
      <em>
        <h2>Below you can find a small collection of scientific research, as well as educated opinion, regarding A1 and A2 milk proteins and the effects of BCM-7</h2>
      </em>
    </div>
    <br>

<!-- Main content container -->
    <div class="container">
      <div class="list-group">
        <a href="https://www.chelseagreen.com/product/devil-in-the-milk/" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Devil in the Milk:
              Illness, Health and the Politics of A1 and A2 Milk</h5>
            <!-- <small>3 days ago</small> -->
          </div>
          <p class="mb-1">"In Devil in the Milk, Keith Woodford brings together the evidence published in more than 100 scientific papers. He examines the population studies that look at the link between consumption of A1 milk and the incidence of heart disease and Type 1 diabetes; he explains the science that underpins the A1/A2 hypothesis; and he examines the research undertaken with animals and humans. The evidence is compelling: We should be switching to A2 milk.</p>
          <small>Chelsea Green Publishing</small>
        </a>
        <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4818854/" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Effects of milk containing only A2 beta casein versus milk containing both A1 and A2 beta casein proteins on gastrointestinal physiology, symptoms of discomfort, and cognitive behavior of people with self-reported intolerance to traditional cows’ milk</h5>
            <!-- <small class="text-muted">3 days ago</small> -->
          </div>
          <p class="mb-1">"Consumption of milk containing A1 β-casein was associated with increased gastrointestinal inflammation, worsening of PD3 symptoms, delayed transit, and decreased cognitive processing speed and accuracy. Because elimination of A1 β-casein attenuated these effects, some symptoms of lactose intolerance may stem from inflammation it triggers, and can be avoided by consuming milk containing only the A2 type of beta casein."</p>
          <small class="text-muted">Authors: Sun Jianqin, Xu Leiming, Xia Lu, Gregory W. Yelland, Jiayi Ni, Andrew J. Clarke</small>
        </a>
        <a href="https://keithwoodford.wordpress.com/2011/04/10/bcm7-and-sudden-infant-death-syndrome/" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">BCM7 and Sudden Infant Death Syndrome</h5>
            <!-- <small class="text-muted">3 days ago</small> -->
          </div>
          <p class="mb-1">"Scientific evidence has linked bovine BCM7 to many health conditions such as Type 1 diabetes and heart disease (4, 5), child development and symptoms of autism (6, 7). . .Back in the 1990s, beta-casomorphins were found in the brainstems of SIDS babies (8). . ."</p>
          <small class="text-muted">Article by Keith Woodford</small>
        </a>
      </div>
      <hr class="my-4">
    </div>
  <!-- Go Home button -->
    <div class="container">
      <a class="btn btn-primary btn-lg" href="http://127.0.0.1:5000/" role="button">Go Home</a>
    </div>

    <br>
    <br>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </body>
</html>
